.topLeftCorner {
  position: absolute;
  top: 20px;
  left: 0;
  height: 60px;
  width: 50px;
  margin-left: 20px;
}

.topRightCorner {
  position: absolute;
  top: 20px;
  right: 0;
  height: 60px;
  width: 50px;
  margin-right: 20px;
}

.navCorner {
  position: absolute;
  top: 20px;
  right: 0;
  height: 60px;
  width: 100px;
  margin-right: 20px;
}

.navButton {
  width: 50px;
  height: 60px;
  border: black solid 4px;
  border-radius: 100%;
  background-color: rgb(204, 197, 0);
}
