.showcaseTitle {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.showcaseProjects {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.projectTile {
  width: 100%;
  margin-bottom: 20px;
  border: solid black 4px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(204, 197, 0);
}

.projectImage {
  width: 100%;
}

.projectTitle {
  width: 100%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-top: solid black 5px;
}

.externalDisplay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.displayProject {
  width: 80%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: double black 12px;
  background-color: rgb(204, 197, 0);
}

.displayTitle {
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.displayDisc {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
}

.projectDisc {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  width: 80%;
  float: left;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border: solid black 3px;
  overflow-y: scroll;
}

.displayButtons {
  width: 20%;
  height: 100%;
  padding-left: 5px;
  float: right;
}

.displayButton {
  display: block;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  cursor: pointer;
}

.displayInfo {
  padding-top: 20px;
  width: 100%;
}

.displayGifPlayer {
  display: block;
  float: right;
  width: 50%;
  height: 300px;
  margin-right: 30px;
  padding: 2px;
  border: solid black 3px;
}

.displaySkills {
  display: block;
  height: 100%;
  width: 30%;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
}

.projectSkill {
  display: block;
  padding-top: 5px;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
  color: black;
}



@media only screen and (min-width: 768px) {
  .showcaseProjects {
    width: 80%;
  }

  .projectTile {
    display: inline-block;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}


@media only screen and (min-width: 1000px) {

  .displayDisc {
    height: 150px;
  }

  .projectDisc {
    width: 70%;
    font-size: 25px;
  }

  .displayButtons {
    width: 25%;
    float: right;
  }

  .displayButton {
    display: inline-block;
    height: 50%;
    width: 33%;
    margin-top: 40px;
  }

  .displayGifPlayer {
    width: 60%;
    height: 350px;
    margin-right: 45px;
  }

  .displaySkills {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
  }

  .projectSkill {
    font-weight: bold;
    font-size: 30px;
    color: black;
  }
}
