.aboutMeDiv {
    /* position: relative; */
    padding-top: 5vh;
    padding-left: 5vw;
    /* left: -18vh; */
}

.aboutMeTitle {
  color: rgb(204, 197, 0);
  font-size: 4vw;
  text-shadow: 2px 2px 8px black;
}

.bioDiv {
  padding: 1vh;
  margin: 1vh;
  width: 90%;
  text-align: center;
  border: solid black;
  border-radius: 15px 100px;
  background-color: rgb(204, 197, 0);
}

.bio {
  margin-left: 5vh;
  margin-right: 5vh;
  color: black;
  font-weight: 500;
}

.skillList {
  margin-top: 3vh;
  padding-right: 8vw;
}

.skillTitle {
  padding-bottom: 5vh;
  /* padding-right: 6vw; */
  text-align: right;
  font-size: 40px;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.firstSkillRow {
  margin-bottom: 4vh;
}

.secondSkillRow {
  margin-bottom: 4vh;
  padding-left: 2vw;
}

.thirdSkillRow {
  padding-left: 4vw;
}

.skillTile {
  display: block;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  background-color: rgb(204, 197, 0);
  /* background-color: rgb(60, 60, 60); */
}

.skillImg {
  height: 80px;
  width: 130px;
}
