.aboutMe {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 10px;
}

.aboutMeTitle {
  padding-bottom: 10px;
  color: rgb(204, 197, 0);
  font-size: 30px;
  text-shadow: 2px 2px 8px black;
}

.bioDiv {
  padding: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  border: solid black;
  border-radius: 15px 100px;
  background-color: rgb(204, 197, 0);
}

.bio {
  margin-left: 5vh;
  margin-right: 5vh;
  color: black;
  font-weight: 500;
}

.skills {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 20px;
}

.skillTitle {
  padding-bottom: 15px;
  font-size: 30px;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.fullStackTile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 70px;
  border: solid black;
  background-color: rgb(204, 197, 0);
}

.skillSectionTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.simDevelopmentTile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 70px;
  border: solid black;
  background-color: rgb(204, 197, 0);
}

.developmentToolTile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 80px;
  border: solid black;
  background-color: rgb(204, 197, 0);
  margin-bottom: 20px;
}

.skillImg {
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
}


@media only screen and (min-width: 768px) {

  .skillSectionTitle {
    font-size: 25px;
  }

  .fullStackTile {
    height: 135px;
  }

  .simDevelopmentTile {
    height: 135px;
  }

  .developmentToolTile {
    height: 150px;
  }

  .skillImg {
    /* width: 20%; */
  }
}

@media only screen and (min-width: 1000px) {

  .aboutMeTitle {
    padding-top: 25px;
  }

  .skillTitle {
    padding-top: 20px;
    padding-right: 150px;
    text-align: right;
    font-size: 40px;
  }

  .skillSectionTitle {
    font-size: 25px;
    text-align: left;
    padding-left: 5%
  }

  .fullStackTile {
    height: 130px;
  }

  .simDevelopmentTile {
    height: 130px;
  }

  .developmentToolTile {
    height: 125px;
  }

  .skillImg {
    width: 150px
  }
}
