.bioDiv {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  border: solid black;
  border-radius: 15px;
  background-color: rgb(204, 197, 0);
}

.bio {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  height: 200px;
  overflow-y: auto;
  color: black;
  font-size: 18px;
  font-weight: 500;
}




@media only screen and (min-width: 768px) {

  .bio {
    width: 90%;
    height: 20%;
  }
}

@media only screen and (min-width: 1000px) {

  .bioDiv {
    width: 80%;
  }
}
