.navWrapper {
  position: absolute;
  top: 20px;
  right: 0;
  width: 140px;
}

.navLink {
  float: right;
  width: 50px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  height: 80%;
  border: black solid 4px;
  border-radius: 100%;
  background-color: rgb(204, 197, 0);
}

.linkImage {
  width: 60%;
  background-color: transparent;
}

.tabDesc {
  display: none;
  font-size: 15px;
  color: rgb(204, 197, 0);
  text-align: center;
}

a:active, a:focus, a:link{
  text-decoration: none;
  outline: none;
  border: none;
}


/* @media only screen and (min-width: 768px) {

  .navWrapper {
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(204, 197, 0);
  }
}

@media only screen and (min-width: 1000px) {

  .navWrapper {
    float: right;
    width: 80px;
    height: 600px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    background-color: transparent;
  }

  .button {
    width: 100%;
    height: 16.66%;
  }
} */
