.navWrapper {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.button {
  width: 14.2857%;
  height: 100%;
  border-color: black;
  color: black;
  background-color: rgb(204, 197, 0);
}

.homeButton{
  background-color: black;
}

.linkImage {
  width: 80%;
  background-color: transparent;
}

a:active, a:focus {
  outline: none;
  border: none;
}


@media only screen and (min-width: 768px) {

  .navWrapper{
    width: 60px;
    height: 500px;

    position: absolute;
    right: 0px;

    /* top: 100px; */
    /* left: 100%; */
    /* TODO: might take sticky off */
  }

  .button{
    width: 100%;
    height: 15%;
  }
}

@media only screen and (min-width: 1000px) {

  .navWrapper{
    top: 100px;
  }


}
