.navWrapper {
  width: 100%;
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 5;
}

.button {
  width: 16.66%;
  height: 100%;
  border-color: black;
  color: black;
  border: black solid 4px;
  background-color: rgb(204, 197, 0);
  vertical-align: top;
}

.homeButton {
  background-color: black;
}

.linkImage {
  width: 60%;
  background-color: transparent;
}

.tabDesc {
  font-size: 15px;
  color: rgb(204, 197, 0);
  height: 10%;
}

.dropDown {
  visibility: hidden;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border: black solid 4px;
  background-color: rgb(204, 197, 0);
}

a:active, a:focus {
  outline: none;
  border: none;
}


@media only screen and (min-width: 768px) {

  .navWrapper {
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(204, 197, 0);
  }
}

@media only screen and (min-width: 1000px) {

  .navWrapper {
    float: right;
    width: 80px;
    height: 600px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    background-color: transparent;
  }

  .button {
    width: 100%;
    height: 16.66%;
  }
}
