.profilePicture {
  position: relative;
  display: inline;
  /* top: -60vh; */
  left: -15px;
  height: 102%;
  width: 102%;
  clip-path:polygon(0% 0%, 94% 0%, 68% 100%, 0% 100%);
}

.profileBackgroundBar {
  position: absolute;
  height: 50vw;
  width: 35px;
  top: -15px;
  left: 392px;
  border: solid black;
  background-color: rgb(204, 197, 0);
  transform: rotate(9.8deg);

  /* position: relative;
  height: 140%;
  width: 30px;
  top: -27px;
  left: 23vh;
  border: solid black;
  background-color: rgb(204, 197, 0);
  transform: rotate(-18deg); */
  /* display: inline-block;
  width: 0%;
  height: 110vh;
  border-right: 4vh solid;
  border-color: rgb(204, 197, 0);
  transform: rotate(10deg);

  position: relative;
  top: -2vh;
  left: 15vh; */
}
