
.backgroundBox {
  position: absolute;
  z-index: -1;
  height: 93vh;
  width: 66vh;
  top: 3vh;
  left: 18vh;
  /* background: rgba(40, 40, 40, 1); */
  background: black;
  clip-path:polygon(15% 0%, 94% 0%, 68% 100%, 0% 100%);
}

.profilePicture {
  display: inline;
  height: 70%;
  width: 70%;
  clip-path:polygon(0% 0%, 94% 0%, 68% 100%, 0% 100%);

  position: relative;
  top: -60vh;
  left: 27vh;
}

.line {
  display: inline-block;
  width: 0%;
  height: 110vh;
  border-right: 4vh solid;
  border-color: rgb(204, 197, 0);
  transform: rotate(10deg);

  position: relative;
  top: -2vh;
  left: 15vh;
}
