.profilePicture {
  
  width: 100%;
  clip-path:polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}




@media only screen and (min-width: 768px) {

  .profilePicture {
    width: 100%;
    clip-path:polygon(0% 20%, 60% 0%, 100% 0%, 100% 32%, 0% 65%);
  }

}


@media only screen and (min-width: 1000px) {
  .profilePicture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    clip-path:polygon(0% 0%, 94% 0%, 68% 100%, 0% 100%);
  }
}
