.profileInfo {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.profileName {
  padding-top: 60%;
  padding-bottom: 20px;
  font-size: 50px;
}

.barDivider {
  width: 100%;
  height: 5px;
  margin-bottom: 20px;
  background-image: linear-gradient(to left, rgba(204, 197, 0, 0), rgba(204, 197, 0, 1) 90%);
}

.profileJob {
  font-size: 35px;
  padding-bottom: 30px;
}


@media only screen and (min-width: 768px) {

  .profileName {
    padding-top: 30%;
    font-size: 70px;
    padding-left: 100px;
    text-align: left;
  }

  .profileJob {
    font-size: 70px;
    padding-right: 100px;
    text-align: right;
  }
}


@media only screen and (min-width: 1000px) {

  .profileName {
    padding-top: 15%;
    padding-left: 0;
    font-size: 130px;
    text-align: center;
  }

  .profileJob {
    font-size: 80px;
    padding-right: 0;
    text-align: center;
  }
}


/* Fun animation for desktop version, will play with
svg {
  width: 100px;
  height: auto;
  cursor: pointer;
}

polygon {
  transition: all 0.5s cubic-bezier(.2,1,.3,1);
  animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
  animation-play-state: paused;
}

path {
  transition: all 0.5s cubic-bezier(.2,1,.3,1);
  animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
  animation-play-state: paused;
}

svg:hover polygon, svg:hover path {
  transition: all 1s cubic-bezier(.2,1,.3,1);
  fill: #FF4136;
}

svg:hover .arrow, svg:hover .arrow-fixed {
  animation-play-state: running;
}


@keyframes arrow-anim {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	5% {
		transform: translateX(-0.1px);
	}
	100% {
		transform: translateX(5px);
		opacity: 0;
	}
}

@keyframes arrow-fixed-anim {
	5% {
		opacity: 0;
	}
	20% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
} */
