.profileInfoDiv {
  padding-top: 5vw;
  padding-left: 2vw;
}

.profileHello {
  /* position: relative;
  left: 7vw; */
  padding-left: 15vw;
  font-size: 6vw;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.profileName {
  /* position: relative;
  left: 4vw; */
  /* top: 0vw */
  padding-top: 3vw;
  padding-left: 10vw;
  font-size: 6vw;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.profileJob {

  /* position: relative; */
  /* left: -10vw; */
  /* right: 3vw; */
  /* top: 2vw; */
  padding-top: 3vw;
  font-size: 6vw;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.contactInfo {
  position: absolute;
  top: 650px;
  text-align: center;
  width: 100%;
  background-color: rgb(204, 197, 0);
  border: solid black;
}

.contactImage {
  height: 30px;
  width: 30px;
}

.emailContact {
  display: inline-block;
  padding-right: 80px;
}

.githubContact {
  display: inline-block;
  padding-right: 80px;
}

.linkedinContact {
  display: inline-block;
  /* padding-right: 80px; */
}
