.profileInfoDiv {
  padding-top: 5vw;
  padding-left: 2vw;
}

.hello {
  font-size: 7vw;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.name {
  font-size: 7vw;
  position: relative;
  left: 4vw;
  /* top: 0vw */
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.job {
  font-size: 5.5vw;
  position: relative;
  left: 8vw;
  top: 2vw;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}


/* .profileBlog {
  margin-right: 6vw;
  padding-top: 5vw;
  padding-right: 6vw;
  font-size: 1.5vw;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
} */


/* <h1 className="firstName">Andrew</h1>
<h1 className="lastName">Snow</h1>
<div className="profileBlog">
  <p>
  </p>
</div> */
