.showcaseTitle {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.showcaseProjects {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.projectTile {
  width: 100%;
  margin-bottom: 20px;
  border: solid black 4px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(204, 197, 0);
}

.projectImage {
  width: 100%;
}

.projectTitle {
  width: 100%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-top: solid black 5px;
}

.externalDisplay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.displayProject {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: double black 12px;
  background-color: rgb(204, 197, 0);
}

.displayTitle {
  margin-top: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.displayDisc {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
}

.projectDisc {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  width: 80%;
  float: left;
  color: black;
  font-weight: 500;
  border: solid black 3px;
  overflow-y: scroll;
}

.displayButtons {
  width: 20%;
  height: 100%;
  padding-left: 5px;
  float: right;
}

.displayButton {
  display: block;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  cursor: pointer;
}

.displayProjectImage {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: solid black 3px;
}

.displaySkills {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(204, 197, 0);
}

.projectSkill {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  background-color: black;
}



@media only screen and (min-width: 768px) {
  .showcaseProjects {
    width: 80%;
  }

  .projectTile {
    display: inline-block;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .displayProject {
    width: 50%;
  }
}



@media only screen and (min-width: 1000px) {

  .showcaseProjects {
    width: 85%;
  }

  .projectTile {
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
  }

  .displayProject {
    width: 35%;
  }
}
